body {
	background-color: #0b132b;
	color: #6fffe9;
	font-family: Arial, sans-serif;
	display: flex;
	height: 100vh;
	margin: 0;
}

.container {
	display: flex;
	width: 100%;
	padding: 20px;
	gap: 20px;
}

.personal-info {
	background-color: #1c2541;
	padding: 20px;
	border-radius: 10px;
	width: 30%;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

	.personal-info img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 3px solid #5bc0be;
		margin-bottom: 10px;
	}

.projects-container {
	display: flex;
	flex-direction: column;
	width: 70%;
	gap: 20px;
}

.project-section {
	background-color: #3a506b;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.project-buttons button {
	background-color: #5bc0be;
	border: none;
	color: #0b132b;
	padding: 10px 20px;
	margin: 5px 0;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	text-align: left;
}

	.project-buttons button:hover {
		background-color: #6fffe9;
	}
